<section class="contact-section">
    <h2>Contact Us</h2>
  
    <div class="contact-content">
      <div class="contact-details">
        <h3>Aikya Seva Centre</h3>
        <p><strong>Email:</strong> <a href="mailto:aikyaseva&#64;yahoo.com">aikyaseva&#64;yahoo.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+919423792601">+91 94237 92601</a></p>
        <p><strong>Address:</strong> Harit Kranti Building, Market Yard, Ahilyanagar, 414001</p>
      </div>
  
      <div class="contact-map">
        <iframe
        width="100%" 
        height="250" 
        style="border:0;" 
        allowfullscreen 
        loading="eager" 
        referrerpolicy="no-referrer-when-downgrade"
        src="https://maps.google.com/maps?q=19.086426, 74.738389&hl=en&z=16&output=embed"></iframe>
      </div>
    </div>
  </section>
  