<section class="contact-section">
    <h2>Contact Us</h2>
  
    <div class="contact-content">
      <div class="contact-details">
        <h3>Aikya Seva Centre</h3>
        <p><strong>Email:</strong> <a href="mailto:aikyaseva&#64;yahoo.com">aikyaseva&#64;yahoo.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+919423792601">+91 94237 92601</a></p>
        <p><strong>Address:</strong> Harit Kranti Building, Market Yard, Ahilyanagar, 414001</p>
      </div>
  
      <div class="contact-map">
        <iframe
          width="100%"
          height="250"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.142760257653!2d74.74381431490347!3d19.268394386985197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdc52a7f9f9028d%3A0x48c020ba7d5e5cb6!2sHarit%20Kranti%20Building%2C%20Market%20Yard%2C%20Ahilyanagar%2C%20Maharashtra%20414001!5e0!3m2!1sen!2sin!4v1714742121004!5m2!1sen!2sin">
        </iframe>
      </div>
    </div>
  </section>
  