<section class="projects-wrapper">
    <h2>Our Work</h2>
    <p class="projects-intro">
      Aikya Seva Centre is a grassroots NGO working across rural Maharashtra since 1995.
      Through diverse community-driven initiatives, we focus on long-term development in education,
      watershed management, healthcare, women empowerment, farmer upliftment, and sustainability.
      Each project is designed to uplift communities, promote self-reliance, and create lasting impact.
    </p>

  
    <div class="project-cards">
        <div class="project-card" *ngFor="let project of projects">
          <img [src]="project.images[project.currentImageIndex]" [alt]="project.title" />
          <div class="card-text">
            <h3>{{ project.title }}</h3>
            <p>{{ project.shortDescription }}</p>
            <button (click)="goTo(project.slug)" class="btn link">Read More →</button>
          </div>
        </div>
      </div>
  </section>
  